{% extends "auctions/layout.html" %}

{% block body %}

		
<div class="container">				
		
	<div style="padding: 30px;">
		
		<div class="card" style="width: 55rem;">
			<img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}" >
			<div class="card-body">
				<h5 class="card-title"><span style="font-weight: bold;">{{ item.title }}</span></h5>
				<p class="card-text">{{ item.description }}</p>
				<p class="card-text"><span style="font-weight: bold;">Category: </span>{{ item.category }}</p>
				<p class="card-text"><span style="font-weight: bold;">Starting price: </span>${{ item.starting_price }} </p>
				<p class="card-text">By: {{ item.owner }}</p>
				<p class="card-text">Time of Creating: {{ item.date }}</p>
			</div>
		</div>			
			
	</div>
				
</div>


{% if key == 2 %}

<div class="container">
	<div style="padding: 30px;">		
		<div class="card" style="width: 55rem;">
			<div class="card-body">
				<h5 class="card-title"><span style="font-weight: bold;">Sold to {{clobj.winner}}, bid ${{clobj.bid}}. You are Winner!</span></h5>	
			</div>
		</div>	
	</div>
</div>

{% elif key == 3 %}

<div class="container">
	<div style="padding: 30px;">		
		<div class="card" style="width: 55rem;">
			<div class="card-body">
				<h5 class="card-title"><span style="font-weight: bold;">Sold to {{clobj.winner}}, bid ${{clobj.bid}}.</span></h5>	
			</div>
		</div>	
	</div>
</div>

{% else %}

<div class="container">
	<div style="padding: 30px;">		
		<div class="card" style="width: 55rem;">
			<div class="card-body">
				<h5 class="card-title"><span style="font-weight: bold;">Removed by owner.</span></h5>	
			</div>
		</div>	
	</div>
</div>

{% endif %}
		
		
	
{% endblock %}